<tr>
    <td>{{burger_name}}</td>
    {{#if devour}}
    <td><input type="text" class="customerNameClass" id={{id}} name="customer" placeholder="Enter Your Name"></td>
    <td> <button data-input={{id}} id="devour" class="devour-btn btn-warning" data-id={{id}}>Devour</button></td>
    <td><button class="delete-btn btn-warning" data-id={{id}}>Delete</button></td>
    {{else}}
    <td><p>eaten by {{'Customer.customer_name'}}</p></td>
    <td><button class="delete-btn btn-warning" data-id={{id}}>Delete</button></td>
    {{/if}}
</tr>